body{
    background-color:#F65D3D;
    font-size:14px;
    font-weight:bolder;
    font-family:verdana, sans-serif;
}
body{
	border: 2px solid black;
	padding: 10px;
	outline: black solid 5px
	outline-offset: 5px;
}
